.numberInput input::-webkit-outer-spin-button,
.numberInput input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.numberInput input[type="number"] {
  -moz-appearance: textfield;
}

.arrowButtons {
  border-top-right-radius: var(--rounded);
  border-bottom-right-radius: var(--rounded);
  overflow: hidden;
  width: 100%;
  height: 100%;
  user-select: none;
  -webkit-user-select: none;
  cursor: pointer;
  border-left: 1px solid var(--bg-gray-300);
}

.arrowButton {
  padding: 0 var(--p-1);
  background-color: var(--bg-gray-100);
  position: relative;
}

.arrowButton:active {
  background-color: var(--bg-gray-200);
}

.arrowButton:nth-child(1)::after {
  height: 1px;
  width: 100%;
  content: "";
  position: absolute;
  background-color: var(--bg-gray-300);
  left: 0;
  bottom: 0;
}
