.container {
  border-radius: var(--rounded);
  background-color: var(--bg-gray-100);
  padding: var(--p-2) var(--p-3);
}

.innerContainer {
  position: relative;
  height: 100%;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--gap-3);
}

.selector {
  border-radius: var(--rounded);
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;

  transition-duration: 200ms, 200ms;
  transition-timing-function: ease, ease;
  transition-delay: 0s, 0s;
  transition-property: left, width;

  z-index: 0;
}

.container button {
  all: unset;
  background-color: transparent;
  cursor: pointer;
  border-radius: var(--rounded);
  text-align: center;
  text-overflow: ellipsis;

  padding: var(--p-2) var(--p-3);
  font-weight: 500;
  z-index: 1;

  overflow: hidden;
}

.container button:active {
  transform: translate(0, 2px);
}

.input {
  display: none;
}
