@import url("https://fonts.googleapis.com/css2?family=Urbanist:wght@100;200;300;400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  font-family: "Urbanist", sans-serif;
  position: relative;
  color: var(--bg-dark);
}

:root {
  /* COLORS */
  --bg-black: rgb(0 0 0);
  --bg-white: rgb(255 255 255);
  --bg-dark: #333;
  --bg-slate-50: rgb(248 250 252);
  --bg-slate-100: rgb(241 245 249);
  --bg-slate-200: rgb(226 232 240);
  --bg-slate-300: rgb(203 213 225);
  --bg-slate-400: rgb(148 163 184);
  --bg-slate-500: rgb(100 116 139);
  --bg-slate-600: rgb(71 85 105);
  --bg-slate-700: rgb(51 65 85);
  --bg-slate-800: rgb(30 41 59);
  --bg-slate-900: rgb(15 23 42);
  --bg-slate-950: rgb(2 6 23);
  --bg-gray-50: rgb(249 250 251);
  --bg-gray-100: rgb(243 244 246);
  --bg-gray-200: rgb(229 231 235);
  --bg-gray-300: rgb(209 213 219);
  --bg-gray-400: rgb(156 163 175);
  --bg-gray-500: rgb(107 114 128);
  --bg-gray-600: rgb(75 85 99);
  --bg-gray-700: rgb(55 65 81);
  --bg-gray-800: rgb(31 41 55);
  --bg-gray-900: rgb(17 24 39);
  --bg-gray-950: rgb(3 7 18);
  --bg-zinc-50: rgb(250 250 250);
  --bg-zinc-100: rgb(244 244 245);
  --bg-zinc-200: rgb(228 228 231);
  --bg-zinc-300: rgb(212 212 216);
  --bg-zinc-400: rgb(161 161 170);
  --bg-zinc-500: rgb(113 113 122);
  --bg-zinc-600: rgb(82 82 91);
  --bg-zinc-700: rgb(63 63 70);
  --bg-zinc-800: rgb(39 39 42);
  --bg-zinc-900: rgb(24 24 27);
  --bg-zinc-950: rgb(9 9 11);
  --bg-neutral-50: rgb(250 250 250);
  --bg-neutral-100: rgb(245 245 245);
  --bg-neutral-200: rgb(229 229 229);
  --bg-neutral-300: rgb(212 212 212);
  --bg-neutral-400: rgb(163 163 163);
  --bg-neutral-500: rgb(115 115 115);
  --bg-neutral-600: rgb(82 82 82);
  --bg-neutral-700: rgb(64 64 64);
  --bg-neutral-800: rgb(38 38 38);
  --bg-neutral-900: rgb(23 23 23);
  --bg-neutral-950: rgb(10 10 10);
  --bg-stone-50: rgb(250 250 249);
  --bg-stone-100: rgb(245 245 244);
  --bg-stone-200: rgb(231 229 228);
  --bg-stone-300: rgb(214 211 209);
  --bg-stone-400: rgb(168 162 158);
  --bg-stone-500: rgb(120 113 108);
  --bg-stone-600: rgb(87 83 78);
  --bg-stone-700: rgb(68 64 60);
  --bg-stone-800: rgb(41 37 36);
  --bg-stone-900: rgb(28 25 23);
  --bg-stone-950: rgb(12 10 9);
  --bg-red-50: rgb(254 242 242);
  --bg-red-100: rgb(254 226 226);
  --bg-red-200: rgb(254 202 202);
  --bg-red-300: rgb(252 165 165);
  --bg-red-400: rgb(248 113 113);
  --bg-red-500: rgb(239 68 68);
  --bg-red-600: rgb(220 38 38);
  --bg-red-700: rgb(185 28 28);
  --bg-red-800: rgb(153 27 27);
  --bg-red-900: rgb(127 29 29);
  --bg-red-950: rgb(69 10 10);
  --bg-orange-50: rgb(255 247 237);
  --bg-orange-100: rgb(255 237 213);
  --bg-orange-200: rgb(254 215 170);
  --bg-orange-300: rgb(253 186 116);
  --bg-orange-400: rgb(251 146 60);
  --bg-orange-500: rgb(249 115 22);
  --bg-orange-600: rgb(234 88 12);
  --bg-orange-700: rgb(194 65 12);
  --bg-orange-800: rgb(154 52 18);
  --bg-orange-900: rgb(124 45 18);
  --bg-orange-950: rgb(67 20 7);
  --bg-amber-50: rgb(255 251 235);
  --bg-amber-100: rgb(254 243 199);
  --bg-amber-200: rgb(253 230 138);
  --bg-amber-300: rgb(252 211 77);
  --bg-amber-400: rgb(251 191 36);
  --bg-amber-500: rgb(245 158 11);
  --bg-amber-600: rgb(217 119 6);
  --bg-amber-700: rgb(180 83 9);
  --bg-amber-800: rgb(146 64 14);
  --bg-amber-900: rgb(120 53 15);
  --bg-amber-950: rgb(69 26 3);
  --bg-yellow-50: rgb(254 252 232);
  --bg-yellow-100: rgb(254 249 195);
  --bg-yellow-200: rgb(254 240 138);
  --bg-yellow-300: rgb(253 224 71);
  --bg-yellow-400: rgb(250 204 21);
  --bg-yellow-500: rgb(234 179 8);
  --bg-yellow-600: rgb(202 138 4);
  --bg-yellow-700: rgb(161 98 7);
  --bg-yellow-800: rgb(133 77 14);
  --bg-yellow-900: rgb(113 63 18);
  --bg-yellow-950: rgb(66 32 6);
  --bg-lime-50: rgb(247 254 231);
  --bg-lime-100: rgb(236 252 203);
  --bg-lime-200: rgb(217 249 157);
  --bg-lime-300: rgb(190 242 100);
  --bg-lime-400: rgb(163 230 53);
  --bg-lime-500: rgb(132 204 22);
  --bg-lime-600: rgb(101 163 13);
  --bg-lime-700: rgb(77 124 15);
  --bg-lime-800: rgb(63 98 18);
  --bg-lime-900: rgb(54 83 20);
  --bg-lime-950: rgb(26 46 5);
  --bg-green-50: rgb(240 253 244);
  --bg-green-100: rgb(220 252 231);
  --bg-green-200: rgb(187 247 208);
  --bg-green-300: rgb(134 239 172);
  --bg-green-400: rgb(74 222 128);
  --bg-green-500: rgb(34 197 94);
  --bg-green-600: rgb(22 163 74);
  --bg-green-700: rgb(21 128 61);
  --bg-green-800: rgb(22 101 52);
  --bg-green-900: rgb(20 83 45);
  --bg-green-950: rgb(5 46 22);
  --bg-emerald-50: rgb(236 253 245);
  --bg-emerald-100: rgb(209 250 229);
  --bg-emerald-200: rgb(167 243 208);
  --bg-emerald-300: rgb(110 231 183);
  --bg-emerald-400: rgb(52 211 153);
  --bg-emerald-500: rgb(16 185 129);
  --bg-emerald-600: rgb(5 150 105);
  --bg-emerald-700: rgb(4 120 87);
  --bg-emerald-800: rgb(6 95 70);
  --bg-emerald-900: rgb(6 78 59);
  --bg-emerald-950: rgb(2 44 34);
  --bg-teal-50: rgb(240 253 250);
  --bg-teal-100: rgb(204 251 241);
  --bg-teal-200: rgb(153 246 228);
  --bg-teal-300: rgb(94 234 212);
  --bg-teal-400: rgb(45 212 191);
  --bg-teal-500: rgb(20 184 166);
  --bg-teal-600: rgb(13 148 136);
  --bg-teal-700: rgb(15 118 110);
  --bg-teal-800: rgb(17 94 89);
  --bg-teal-900: rgb(19 78 74);
  --bg-teal-950: rgb(4 47 46);
  --bg-cyan-50: rgb(236 254 255);
  --bg-cyan-100: rgb(207 250 254);
  --bg-cyan-200: rgb(165 243 252);
  --bg-cyan-300: rgb(103 232 249);
  --bg-cyan-400: rgb(34 211 238);
  --bg-cyan-500: rgb(6 182 212);
  --bg-cyan-600: rgb(8 145 178);
  --bg-cyan-700: rgb(14 116 144);
  --bg-cyan-800: rgb(21 94 117);
  --bg-cyan-900: rgb(22 78 99);
  --bg-cyan-950: rgb(8 51 68);
  --bg-sky-50: rgb(240 249 255);
  --bg-sky-100: rgb(224 242 254);
  --bg-sky-200: rgb(186 230 253);
  --bg-sky-300: rgb(125 211 252);
  --bg-sky-400: rgb(56 189 248);
  --bg-sky-500: rgb(14 165 233);
  --bg-sky-600: rgb(2 132 199);
  --bg-sky-700: rgb(3 105 161);
  --bg-sky-800: rgb(7 89 133);
  --bg-sky-900: rgb(12 74 110);
  --bg-sky-950: rgb(8 47 73);
  --bg-blue-50: rgb(239 246 255);
  --bg-blue-100: rgb(219 234 254);
  --bg-blue-200: rgb(191 219 254);
  --bg-blue-300: rgb(147 197 253);
  --bg-blue-400: rgb(96 165 250);
  --bg-blue-500: rgb(59 130 246);
  --bg-blue-600: rgb(37 99 235);
  --bg-blue-700: rgb(29 78 216);
  --bg-blue-800: rgb(30 64 175);
  --bg-blue-900: rgb(30 58 138);
  --bg-blue-950: rgb(23 37 84);
  --bg-indigo-50: rgb(238 242 255);
  --bg-indigo-100: rgb(224 231 255);
  --bg-indigo-200: rgb(199 210 254);
  --bg-indigo-300: rgb(165 180 252);
  --bg-indigo-400: rgb(129 140 248);
  --bg-indigo-500: rgb(99 102 241);
  --bg-indigo-600: rgb(79 70 229);
  --bg-indigo-700: rgb(67 56 202);
  --bg-indigo-800: rgb(55 48 163);
  --bg-indigo-900: rgb(49 46 129);
  --bg-indigo-950: rgb(30 27 75);
  --bg-violet-50: rgb(245 243 255);
  --bg-violet-100: rgb(237 233 254);
  --bg-violet-200: rgb(221 214 254);
  --bg-violet-300: rgb(196 181 253);
  --bg-violet-400: rgb(167 139 250);
  --bg-violet-500: rgb(139 92 246);
  --bg-violet-600: rgb(124 58 237);
  --bg-violet-700: rgb(109 40 217);
  --bg-violet-800: rgb(91 33 182);
  --bg-violet-900: rgb(76 29 149);
  --bg-violet-950: rgb(46 16 101);
  --bg-purple-50: rgb(250 245 255);
  --bg-purple-100: rgb(243 232 255);
  --bg-purple-200: rgb(233 213 255);
  --bg-purple-300: rgb(216 180 254);
  --bg-purple-400: rgb(192 132 252);
  --bg-purple-500: rgb(168 85 247);
  --bg-purple-600: rgb(147 51 234);
  --bg-purple-700: rgb(126 34 206);
  --bg-purple-800: rgb(107 33 168);
  --bg-purple-900: rgb(88 28 135);
  --bg-purple-950: rgb(59 7 100);
  --bg-fuchsia-50: rgb(253 244 255);
  --bg-fuchsia-100: rgb(250 232 255);
  --bg-fuchsia-200: rgb(245 208 254);
  --bg-fuchsia-300: rgb(240 171 252);
  --bg-fuchsia-400: rgb(232 121 249);
  --bg-fuchsia-500: rgb(217 70 239);
  --bg-fuchsia-600: rgb(192 38 211);
  --bg-fuchsia-700: rgb(162 28 175);
  --bg-fuchsia-800: rgb(134 25 143);
  --bg-fuchsia-900: rgb(112 26 117);
  --bg-fuchsia-950: rgb(74 4 78);
  --bg-pink-50: rgb(253 242 248);
  --bg-pink-100: rgb(252 231 243);
  --bg-pink-200: rgb(251 207 232);
  --bg-pink-300: rgb(249 168 212);
  --bg-pink-400: rgb(244 114 182);
  --bg-pink-500: rgb(236 72 153);
  --bg-pink-600: rgb(219 39 119);
  --bg-pink-700: rgb(190 24 93);
  --bg-pink-800: rgb(157 23 77);
  --bg-pink-900: rgb(131 24 67);
  --bg-pink-950: rgb(80 7 36);
  --bg-rose-50: rgb(255 241 242);
  --bg-rose-100: rgb(255 228 230);
  --bg-rose-200: rgb(254 205 211);
  --bg-rose-300: rgb(253 164 175);
  --bg-rose-400: rgb(251 113 133);
  --bg-rose-500: rgb(244 63 94);
  --bg-rose-600: rgb(225 29 72);
  --bg-rose-700: rgb(190 18 60);
  --bg-rose-800: rgb(159 18 57);
  --bg-rose-900: rgb(136 19 55);
  --bg-rose-950: rgb(76 5 25);

  /* FONT SIZE */
  --text-xs: 0.75rem; /* 12px */
  --text-sm: 0.875rem; /* 14px */
  --text-base: 1rem; /* 16px */
  --text-lg: 1.125rem; /* 18px */
  --text-xl: 1.25rem; /* 20px */
  --text-2xl: 1.5rem; /* 24px */
  --text-3xl: 1.875rem; /* 30px */
  --text-4xl: 2.25rem; /* 36px */
  --text-5xl: 3rem; /* 48px */
  --text-6xl: 3.75rem; /* 60px */
  --text-7xl: 4.5rem; /* 72px */
  --text-8xl: 6rem; /* 96px */
  --text-9xl: 8rem; /* 128px */

  /* PADDING */
  --p-0: 0px;
  --p-px: 1px;
  --p-1: 0.25rem;
  --p-2: 0.5rem;
  --p-3: 0.75rem;
  --p-4: 1rem;
  --p-5: 1.25rem;
  --p-6: 1.5rem;
  --p-7: 1.75rem;
  --p-8: 2rem;
  --p-9: 2.25rem;
  --p-10: 2.5rem;
  --p-11: 2.75rem;
  --p-12: 3rem;
  --p-14: 3.5rem;
  --p-16: 4rem;
  --p-20: 5rem;
  --p-24: 6rem;
  --p-28: 7rem;
  --p-32: 8rem;
  --p-36: 9rem;
  --p-40: 10rem;
  --p-44: 11rem;
  --p-48: 12rem;
  --p-52: 13rem;
  --p-56: 14rem;
  --p-60: 15rem;
  --p-64: 16rem;
  --p-72: 18rem;
  --p-80: 20rem;
  --p-96: 24rem;

  /* MARGIN */
  --m-0: 0px;
  --m-px: 1px;
  --m-1: 0.25rem;
  --m-2: 0.5rem;
  --m-3: 0.75rem;
  --m-4: 1rem;
  --m-5: 1.25rem;
  --m-6: 1.5rem;
  --m-7: 1.75rem;
  --m-8: 2rem;
  --m-9: 2.25rem;
  --m-10: 2.5rem;
  --m-11: 2.75rem;
  --m-12: 3rem;
  --m-14: 3.5rem;
  --m-16: 4rem;
  --m-20: 5rem;
  --m-24: 6rem;
  --m-28: 7rem;
  --m-32: 8rem;
  --m-36: 9rem;
  --m-40: 10rem;
  --m-44: 11rem;
  --m-48: 12rem;
  --m-52: 13rem;
  --m-56: 14rem;
  --m-60: 15rem;
  --m-64: 16rem;
  --m-72: 18rem;
  --m-80: 20rem;
  --m-96: 24rem;

  /* GAP */
  --gap-0: 0px;
  --gap-px: 1px;
  --gap-1: 0.25rem; /* 4px */
  --gap-2: 0.5rem; /* 8px */
  --gap-3: 0.75rem; /* 12px */
  --gap-4: 1rem; /* 16px */
  --gap-5: 1.25rem; /* 20px */
  --gap-6: 1.5rem; /* 24px */
  --gap-7: 1.75rem; /* 28px */
  --gap-8: 2rem; /* 32px */
  --gap-9: 2.25rem; /* 36px */
  --gap-10: 2.5rem; /* 40px */
  --gap-11: 2.75rem; /* 44px */
  --gap-12: 3rem; /* 48px */
  --gap-14: 3.5rem; /* 56px */
  --gap-16: 4rem; /* 64px */
  --gap-20: 5rem; /* 80px */
  --gap-24: 6rem; /* 96px */
  --gap-28: 7rem; /* 112px */
  --gap-32: 8rem; /* 128px */
  --gap-36: 9rem; /* 144px */
  --gap-40: 10rem; /* 160px */
  --gap-44: 11rem; /* 176px */
  --gap-48: 12rem; /* 192px */
  --gap-52: 13rem; /* 208px */
  --gap-56: 14rem; /* 224px */
  --gap-60: 15rem; /* 240px */
  --gap-64: 16rem; /* 256px */
  --gap-72: 18rem; /* 288px */
  --gap-80: 20rem; /* 320px */
  --gap-96: 24rem; /* 384px */

  /* FLEX BASIS */
  --basis-0: 0px;
  --basis-1: 0.25rem; /* 4px */
  --basis-2: 0.5rem; /* 8px */
  --basis-3: 0.75rem; /* 12px */
  --basis-4: 1rem; /* 16px */
  --basis-5: 1.25rem; /* 20px */
  --basis-6: 1.5rem; /* 24px */
  --basis-7: 1.75rem; /* 28px */
  --basis-8: 2rem; /* 32px */
  --basis-9: 2.25rem; /* 36px */
  --basis-10: 2.5rem; /* 40px */
  --basis-11: 2.75rem; /* 44px */
  --basis-12: 3rem; /* 48px */
  --basis-14: 3.5rem; /* 56px */
  --basis-16: 4rem; /* 64px */
  --basis-20: 5rem; /* 80px */
  --basis-24: 6rem; /* 96px */
  --basis-28: 7rem; /* 112px */
  --basis-32: 8rem; /* 128px */
  --basis-36: 9rem; /* 144px */
  --basis-40: 10rem; /* 160px */
  --basis-44: 11rem; /* 176px */
  --basis-48: 12rem; /* 192px */
  --basis-52: 13rem; /* 208px */
  --basis-56: 14rem; /* 224px */
  --basis-60: 15rem; /* 240px */
  --basis-64: 16rem; /* 256px */
  --basis-72: 18rem; /* 288px */
  --basis-80: 20rem; /* 320px */
  --basis-96: 24rem; /* 384px */
  --basis-auto: auto;
  --basis-px: 1px;
  --basis-full: 100%;

  /* WIDTH */
  --w-0: 0px;
  --w-px: 1px;
  --w-1: 0.25rem;
  --w-2: 0.5rem;
  --w-3: 0.75rem;
  --w-4: 1rem;
  --w-5: 1.25rem;
  --w-6: 1.5rem;
  --w-7: 1.75rem;
  --w-8: 2rem;
  --w-9: 2.25rem;
  --w-10: 2.5rem;
  --w-11: 2.75rem;
  --w-12: 3rem;
  --w-14: 3.5rem;
  --w-16: 4rem;
  --w-20: 5rem;
  --w-24: 6rem;
  --w-28: 7rem;
  --w-32: 8rem;
  --w-36: 9rem;
  --w-40: 10rem;
  --w-44: 11rem;
  --w-48: 12rem;
  --w-52: 13rem;
  --w-56: 14rem;
  --w-60: 15rem;
  --w-64: 16rem;
  --w-72: 18rem;
  --w-80: 20rem;
  --w-96: 24rem;

  /* MAX WIDTH */
  --max-w-0: 0rem;
  --max-w-xs: 20rem;
  --max-w-sm: 24rem;
  --max-w-md: 28rem;
  --max-w-lg: 32rem;
  --max-w-xl: 36rem;
  --max-w-2xl: 42rem;
  --max-w-3xl: 48rem;
  --max-w-4xl: 56rem;
  --max-w-5xl: 64rem;
  --max-w-6xl: 72rem;
  --max-w-7xl: 80rem;
  --max-w-full: 100%;
  --max-w-prose: 65ch;
  --max-w-screen-sm: 640px;
  --max-w-screen-md: 768px;
  --max-w-screen-lg: 1024px;
  --max-w-screen-xl: 1280px;
  --max-w-screen-2xl: 1536px;

  /* CONTAINER WIDTH */
  --full-max-width: 100%;
  --sm-max-width: 640px;
  --md-max-width: 768px;
  --lg-max-width: 1024px;
  --xl-max-width: 1280px;
  --xxl-max-width: 1536px;

  /* FONT SIZE */
  --text-xs: 0.75rem;
  --text-sm: 0.875rem;
  --text-base: 1rem;
  --text-lg: 1.125rem;
  --text-xl: 1.25rem;
  --text-2xl: 1.5rem;
  --text-3xl: 1.875rem;
  --text-4xl: 2.25rem;
  --text-5xl: 3rem;
  --text-6xl: 3.75rem;
  --text-7xl: 4.5rem;
  --text-8xl: 6rem;
  --text-9xl: 8rem;

  /* SHADOW */
  --shadow-sm: 0 1px 2px 0 rgb(0 0 0 / 0.05);
  --shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  --shadow-md: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  --shadow-lg: 0 10px 15px -3px rgb(0 0 0 / 0.1),
    0 4px 6px -4px rgb(0 0 0 / 0.1);
  --shadow-xl: 0 20px 25px -5px rgb(0 0 0 / 0.1),
    0 8px 10px -6px rgb(0 0 0 / 0.1);
  --shadow-2xl: 0 25px 50px -12px rgb(0 0 0 / 0.25);
  --shadow-inner: inset 0 2px 4px 0 rgb(0 0 0 / 0.05);
  --shadow-none: 0 0 #0000;

  /* BORDER RADIUS */
  --rounded-none: 0px;
  --rounded-sm: 0.125rem; /* 2px */
  --rounded: 0.25rem; /* 4px */
  --rounded-md: 0.375rem; /* 6px */
  --rounded-lg: 0.5rem; /* 8px */
  --rounded-xl: 0.75rem; /* 12px */
  --rounded-2xl: 1rem; /* 16px */
  --rounded-3xl: 1.5rem; /* 24px */
  --rounded-full: 9999px;
}
