.container {
  display: flex;
  flex-direction: column;
  gap: var(--gap-3);
}

.legend span {
  color: var(--bg-red-600);
}

.radioContainer {
  display: flex;
  flex-direction: column;
  gap: var(--gap-3);
  position: relative;
}

.inputContainer {
  display: flex;
  align-items: center;
  gap: var(--gap-2);
}

.input[type="radio"] {
  display: none;
}

.toggle {
  width: var(--w-5);
  height: var(--w-5);
  background-color: var(--bg-gray-200);
  border-radius: var(--rounded-full);
  border: 1px solid var(--bg-gray-100);
  position: relative;
  cursor: pointer;
}

.toggle.selected {
  background-color: var(--bg);
  transition: background-color 0.3s;
}

.chip {
  width: var(--w-3);
  height: var(--w-3);
  border-radius: var(--rounded-full);

  left: 4px;
  position: absolute;
  background-color: var(--bg-white);
  border: 2px solid var(--bg-gray-100);
  z-index: 2;

  transition: top 0.3s;
}

.radioContainer.disabled {
  pointer-events: none;
}

.radioContainer.disabled .toggle {
  background-color: var(--bg-gray-200);
}
.radioContainer.disabled label {
  color: var(--bg-gray-400);
}
