.container {
  margin-top: var(--m-3);
  position: relative;

  border-radius: var(--rounded);
  border: 1px solid var(--bg-gray-300);
  box-shadow: none !important;

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--p-3) var(--p-4);
  gap: var(--gap-2);
}

.container:has(.input:focus) {
  outline: 1px solid var(--bg-blue-500);
}

.container:has(.input.disabled),
.input.disabled {
  background-color: var(--bg-gray-100);
}

.input {
  font-size: var(--text-base);
  z-index: 1;
  outline: none;
  border: none;
  flex-grow: 1;
}

.container:has(.input.error) {
  border: 1px solid var(--bg-red-600);
}

.container:has(.input.error:focus) {
  outline: 1px solid var(--bg-red-500);
}

.input[type="text"] {
  font-family: inherit;
}

.placeholder {
  color: var(--bg-gray-500);
  position: absolute;
  left: 18px;
  top: 50%;
  transform: translate(0, -50%);
  user-select: none;
  pointer-events: none;

  z-index: 2;

  transition: top 0.2s;
}

.input:not(:placeholder-shown) + .placeholder,
.input:focus + .placeholder {
  top: 0;
  font-size: var(--text-sm);
  background-color: white;
  z-index: 1;
  padding: 0 var(--p-2);
}

.input:focus + .placeholder {
  color: var(--bg-blue-500);
}

.placeholder.error {
  color: var(--bg-red-600) !important;
}

.errorMessage {
  margin-top: var(--m-2);
  color: var(--bg-red-600);
}

.label {
  opacity: 0;
  position: absolute;
  pointer-events: none;
  visibility: hidden;
}

.passwordDetails {
  margin-top: var(--m-1);
  font-size: var(--text-sm);
  color: var(--bg-gray-500);
}
