.resultContainer {
  max-height: 10rem;
  overflow-y: auto;
  border: 1px solid var(--bg-gray-400);
  border-radius: var(--rounded);

  display: flex;
  flex-direction: column;
  gap: var(--gap-1);

  padding: var(--p-1);

  z-index: 10000000;

  position: absolute;
  left: 0;
  top: 130%;
  width: 100%;
}

.result {
  padding: var(--p-2) var(--p-2);
  cursor: pointer;
  border-radius: var(--rounded);
}

.selected {
  color: var(--bg-white);
}

.result:not(.selected):hover {
  background-color: var(--bg-gray-100);
}

.noResults {
  text-align: center;
  padding: var(--p-2);
  font-weight: 500;
}
