/* CONTAINER */
.container {
  border-radius: var(--rounded);
  overflow-x: auto;
  overflow-y: auto;
  width: 100%;
  -webkit-overflow-scrolling: touch;
  background-color: var(--bg-white);

  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari, Chrome, Opera, Samsung */
  user-select: none;
}

.container.border {
  border: 1px solid var(--bg-gray-300);
}
.container.border .table tbody tr:last-child {
  border-bottom: none;
}

/* TABLE */
.table {
  border: none;
  border-collapse: collapse;
  width: 100%;
  height: 100%;
  background-color: inherit;
}

/* COLUMNS */
.columnResizer {
  cursor: ew-resize;
  width: 5px;
  height: 100%;
}

/* TABLE ROWS */
.table tr {
  border-bottom: 1px solid var(--bg-gray-200);
}
.striped:nth-child(odd) {
  background-color: var(--bg-gray-100);
}
.hover:hover {
  background-color: var(--bg-gray-200);
}

.table thead {
  background-color: inherit;
}

/* HEAD ROW */
.table thead tr {
  position: sticky;
  top: 0;
  left: 0;
  background-color: inherit;
  z-index: 2;
}
/* HEAD CELLS */
.table tr th {
  text-align: left;
}

/* COLUMNS */
.columns {
  border-left: 1px solid var(--bg-gray-200);
  border-right: 1px solid var(--bg-gray-200);
}

.columns:first-child {
  border-left: none;
}

.columns:last-child {
  border-right: none;
}

/* EMPTY TABLE */
.emptyTableCell {
  text-align: center;
  font-weight: 500;
  padding-top: var(--p-10) !important;
  padding-bottom: var(--p-10) !important;
  background-color: var(--bg-gray-100);
}

/* LOADING TABLE */
.loadingContent {
  height: 40px;
  position: relative;
}

.loadingContent:after {
  content: "";
  width: 100%;
  height: 70%;

  position: absolute;
  top: 15%;
  left: 0;
  border-radius: var(--rounded);

  transform: translateX(-100%);
  background: linear-gradient(
    90deg,
    rgba(240, 240, 240, 0) 0%,
    rgba(240, 240, 240, 0.3) 20%,
    rgba(240, 240, 240, 0.6) 60%,
    rgba(240, 240, 240, 0) 100%
  );

  animation: shimmer 2s infinite;
  background-size: cover;
}

@keyframes shimmer {
  100% {
    transform: translateX(100%);
  }
}
